body {
  color: #49fb35;
  background-color: black;
}

#header {
 font-size: 3em;
}

.buttonClass {
  border: 5px solid black;
}

#timeRemaining {
  font-size: 3em;
}

#question {
  font-size: 1.25em;
}
